:root {
    --html-color       : #F2F2F2;
    --header-color     : #CCCCCC;
    --frame-color      : #ffffff;
    --shadow-color     : #E6E6E6;
    --footer-item-color: #888888;
}

:root {
    --item-height  : 66px;
    --footer-height: 43px;
    --button-size  : 16px;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

html,
body {
    margin     : 0;
    padding    : 0;
    height     : 100%;
    font-family: Roboto, sans-serif;
}

html {
    background-color: var(--html-color);
    display         : flex;
    justify-content : center;
}

.todo-app {
    display       : flex;
    flex-direction: column;
    width         : 562px;
}

.todo-app__header-tittle {
    font-style    : normal;
    font-weight   : 200;
    font-size     : 100px;
    line-height   : 21px;
    text-align    : center;
    /* identical to box height, or 21% */
    letter-spacing: -2.5px;
    color         : var(--header-color);
}

.todo-app__frame {
    position        : relative;
    background-color: var(--frame-color);
}

.todo-app__frame:after {
    content         : '';
    position        : absolute;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.2);
    height          : calc(100% + 4px);
    z-index         : -1;
    left            : 2px;
    right           : 2px;
    background-color: white;
    top             : 0;
}

.todo-app__frame:before {
    content   : '';
    position  : absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height    : calc(100% + 8px);
    z-index   : -2;
    left      : 3px;
    right     : 3px;
}

.main-controls {
    box-shadow: inset 0px -1px 0px var(--shadow-color);
}

.main-controls__input-area {
    display: flex;
    width  : 100%;
    height : var(--item-height);
}


.main-controls__button {
    position     : relative;
    width        : 60px;
    height       : 80%;
    border       : 0;
    margin       : 5px;
    background   : no-repeat center url(../assets/search-button.svg);
    border-radius: 6px;
    outline-color: var(--footer-item-color);
}

.main-controls__button:hover {
    background-color: rgb(235, 235, 235);
}

.main-controls__input {
    font-style   : italic;
    font-weight  : 300;
    font-size    : 24px;
    line-height  : 21px;
    flex-grow    : 1;
    height       : 80%;
    margin       : 5px;
    border       : 0;
    border-radius: 6px;
    outline-color: var(--footer-item-color);
}

.main-controls__input:hover {
    background-color: rgb(235, 235, 235);
}

.todo-app__tasks-list {
    display       : flex;
    flex-direction: column;
    margin        : 0;
}

.todo-app__tasks-item {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    align-content : center;
    height        : var(--item-height);
    box-shadow    : inset 0px -1px 0px var(--shadow-color);
    clip          : auto;
    width         : auto;
    height        : auto;
    min-height    : var(--item-height);
}

.task-item__checkbox {
    outline-color     : var(--footer-item-color);
    -webkit-appearance: none;
    display           : inline-flex;
    margin-left       : 10px;
    margin-right      : 10px;
    background        : no-repeat center url(../assets/done-not-active.svg);
}

.task-item__checkbox::before {
    display: inline-flex;
    content: "";
    width  : 40px;
    height : 40px;
    border : none;
}

.task-item__checkbox:hover::before {
    background   : no-repeat center url(../assets/done-not-active.svg);
}

.task-item__checkbox:checked::before {
    background: no-repeat center url(../assets/done.svg);
}

.task-item__checkbox:checked~.task-item__text {
    font-style           : italic;
    text-decoration      : line-through;
    text-decoration-color: var(--footer-item-color);
    color                : var(--footer-item-color);
}

.task-item__text {
    display      : table;
    table-layout : fixed;
    font-style   : normal;
    font-weight  : 300;
    font-size    : 24px;
    line-height  : 21px;
    word-wrap    : break-word;
    width        : 100%;
    margin-top   : 5px;
    margin-bottom: 5px;
}

input.task-item__text {
    position: absolute;
    clip    : rect(0 0 0 0);
    width   : 1px;
    height  : 1px;
    margin  : -1px;
}

.task-item .task-item__button {
    width           : 40px;
    height          : 40px;
    background-color: var(--frame-color);
    border          : 0;
    outline-color   : var(--footer-item-color);
    margin-right    : 5px;
}

.task-item__button:focus {
    background: no-repeat center url(../assets/remove-button.svg);
}

.task-item:hover>.task-item__button {
    background: no-repeat center url(../assets/remove-button.svg);
}

.todo-app__actions-bar {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    align-content  : center;
    justify-content: space-between;
    height         : var(--footer-height);
    font-style     : normal;
    font-weight    : 300;
    font-size      : 14px;
    line-height    : 21px;
    color          : var(--footer-item-color);
}

.todo-app__actions-bar-count {
    margin: 0 0 0 10px;
    color : var(--footer-item-color);
}

.actions-bar__button {
    font-family     : Roboto;
    font-style      : normal;
    font-weight     : 300;
    font-size       : 14px;
    line-height     : 21px;
    color           : var(--footer-item-color);
    margin          : 0 10px 0 0;
    letter-spacing  : -0.35px;
    border          : 1px solid #ffffff;
    background-color: var(--frame-color);
    border-radius   : 6px;
    line-height     : 22px;
    outline-color   : var(--footer-item-color);
}

.actions-bar__button:hover {
    background-color: rgb(235, 235, 235);
}

.label-item {
    display: inline-block;
}

.label-item input[type=radio] {
    display: none;
}

.label-item__label {
    display      : inline-block;
    cursor       : pointer;
    padding      : 0px 10px;
    line-height  : 22px;
    border       : 1px solid #ffffff;
    border-radius: 6px;
    user-select  : none;
}

.label-item input[type=radio]:checked+label {
    border: 1px solid #EBDFDF;
}

.label-item__label:hover {
    background-color: rgb(235, 235, 235);
}

.label-item input[type=radio]:disabled+label {
    border: 1px solid #ffffff;
}

.actions-bar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}